.pricing{
	margin-bottom: -145px;
	padding: 119px 0 284px;
	background-color: var(--brown);
	@include small-desktop{
		padding: 90px 0 284px;
	}
	@include small-mobile{
		padding: 60px 0 230px;
	}
	&__box{
		max-width: var(--box-width);
		margin: 0 auto;
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		@include small-desktop{
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}
		@include mobile{
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__img{
		margin-bottom: 20px;
		@include small-desktop{
			width: 100%;
		}
	}
	&__content{
		width: 100%;
	}
	&__item-title{
		@extend %fs-medium;
		margin: 0 0 20px;
		color: var(--pearl);
		font-size: 30px;
		line-height: 1.33;
		@include small-tablet{
			font-size: 26px;
		}
		@include mobile{
			font-size: 30px;
		}
		@include small-mobile{
			font-size: 22px;
		}
	}
}

.pricing__list{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-right: 15px !important;
	border-right: 1px solid var(--silk);
	&-item{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-title{
		@extend %fs-regular;
		margin: 0 15px 0 0;
		color: var(--pearl);
		font-size: 16px;
		line-height: 1.73 !important;
		@include small-tablet{
			font-size: 14px;
		}
		@include mobile{
			font-size: 16px;
		}
		@include small-mobile{
			font-size: 14px;
		}
	}
	&-box{
		display: flex;
		align-items: center;
		gap: 9px;
	}
	&-duration{
		color: var(--silk);
		font-size: 14px;
		line-height: 1.75;
		@include small-mobile{
			font-size: 12px;
		}
	}
	&-price{
		@extend %fs-bold;
		color: var(--white);
		font-size: 16px;
		line-height: 1.5;
		@include small-mobile{
			font-size: 14px;
		}
	}
}